.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 350px;
    padding: 10px;
    margin: auto;
    text-align: center;
    font-family: arial;
    border-radius: 10px;

  }
  .photo{
    border-radius: 10px;

  }
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 10px;
    color: white;
    background-color: blue;
    text-align: center;
    cursor: pointer;
    width: 85%;
    font-size: 18px;
    border-radius: 10px;
  }
  
  